

<!--titelToevoegen.twig-->
<h2>Nieuwe Titel Toevoegen</h2>
<form action="titelToevoegen.php" method="post">
    <div class="form-group">
    <label for="titel">Voer titel in:</label>
    <input type="text" id="titel" name="titel" maxlength="100">
    </div>
    <input type="submit" value="Toevoegen">
</form>
